.workspace {
  padding: 0 15px 0 8.5px;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: $middle) {
    padding: 0;
  }
}

.workspace__image {
  max-height: 300px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.workspace .slick-list {
  padding: 0 8% 0 0;

  @media screen and (min-width: $middle) {
    padding: 0 15% 0 15%;
  }

  @media screen and (min-width: $large) {
    padding: 0;
  }
}

.workspace .slick-slide {
  margin: 0 6px 0 0;

  @media screen and (min-width: $middle) {
    margin: 0;
  }
}

.workspace .slick-list {
  margin: 0 -6px 0 0;

  @media screen and (min-width: $middle) {
    margin: 0;
  }
}