mixin workspace-carousel(content, data)
    div.workspace
        button.workspace__arrow.prev
            +icon('arrow-l')
        button.workspace__arrow.next
            +icon('arrow-r')
        div.workspace__carousel
            for image in content
                div.workspace__image
                    div.workspace__inner(data-src="./assets/workspace/"+image data-fancybox="group")
                        img(src="./assets/workspace/preview/"+image alt="")



