mixin workspace-carousel(content, data)
    div.workspace
        div.workspace__carousel
            for image in content
                div.workspace__image
                    div.workspace__inner
                        img(src= image alt="")


