.promo {
    display: flex;
    position: relative;
}

.promo__left {
    background-image: linear-gradient(140deg, #5188ff, #050918);
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 47%;
    }
}

.promo__right {
    display: none;
    background: url("assets/promo-bg.png") no-repeat center/cover;
    width: 53%;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.promo__right,
.promo__left {
    height: 100vh;
    max-height: 771px;
}

.promo__caption {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promo__greet {
    display: flex;
}