.hamburger {
  display: block;
  z-index: 2;
  outline: none;

  @media screen and (min-width: $large) {
    display: none;
  }
}

.hamburger.is-active {
  .hamburger-inner::before,
  .hamburger-inner::after {
    @media screen and (min-width: $middle) {
      background-color: #fff;
    }
  }
}



.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #fff;

  @media screen and (min-width: $middle) {
    background-color: #000;
    width: 35px;
  }
}


.hamburger-box {
  @media screen and (min-width: $middle) {
    width: 35px;
  }
}