include ../icon/index

mixin logo(logo, data)
    div.logo&attributes(data ? data : {})
        if data.class === "header__logo"
            button.header__home-btn
                +icon('logo--logo')
        else
            +icon('logo--logo')