include ../icon/index

mixin socials(content, data)
    ul.social&attributes(data ? data : {})
        for item in content
            li.social__item
                a.social__link(href= item.href target="_blank")
                    +icon(item.icon)
