include ../icon/index

mixin carousel-centered(content, data)
    div.carousel-centered&attributes(data ? data : {})
        button.carousel-centered__arrow.prev
            +icon('arrow-l')
        button.carousel-centered__arrow.next
            +icon('arrow-r')
        div.carousel-centered__for
            for image in content[0]
                div.carousel-centered__item
                    div.carousel-centered__image
                        +icon(image)

        div.carousel-centered__nav
            for item in content[1]
                div.carousel-centered__description
                    h4.carousel-centered__title= item.title
                    p.carousel-centered__text= item.description


