include ../title-card/index
include ../rewards/index

mixin about()
    section.about
        div.about__titles
            div.container.about__container
                +title-card(['about', 'us'], 'right')
                h2.about__title
                    |About
                    br
                    |us
        div.about__content
            div.container
                p After graduating with a degree in IT in 2008, our founder and CIO was met with a terrible job market. Unable to find a job, he realized that his true passion was for helping organizations with their technology. And from that passion, ItCon was born. After being in business a short time, he realized that many companies were being underserved and were constantly “putting out technology fires” that never should have happened in the first place.
                p That led to their proprietary method of keeping networks healthy at all times, and has thrilled our clients for years. We have a unique approach to technology that allows your profitability and workflow to increase quickly, which has led to our slogan. After being in business a short time.
                h3.about__heading Our rewards:
                +rewards([
                    ['./assets/nasaSpaceApps@2x.png', './assets/nasa@2x.png', './assets/int20h@2x.png', './assets/nasa@2x.png', './assets/nasaSpaceApps@2x.png', './assets/int20h@2x.png'],
                    [
                        {
                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                            "descr": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                        },
                        {
                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                            "descr": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                        },
                        {
                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                            "descr": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                        },
                        {
                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                            "descr": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                        },
                        {
                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                            "descr": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                        },
                        {
                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                            "descr": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                        }
                    ]
                ])




