.header {
  padding: 15px 0;
  position: absolute;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo svg {
  fill: $light;
  font-size: 29px;

  @media screen and (min-width: 768px) {
    font-size: 43px;
  }
}

.header__nav {
  display: none;

  @media screen and (min-width: 992px){
    display: block;
  }
}

.header__nav {
  .nav__list {
    letter-spacing: 0.8px;
  }

  .nav__list-item {
    padding: 0 3px;
  }

  .nav__list-item.is-active {
    color: $dark-blue;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -11px;
      height: 2px;
      width: 100%;
      background-color: #5184f0;
    }
  }
}