include ../logo/index
include ../nav/index
include ../hamburger/index

mixin header(content, data)
    header.header&attributes(data ? data : {})
        div.container.header__container
            +logo({"class": "header__logo"})
            +hamburger
            +nav(
                [
                    [
                        ["about", "#"],
                        ["services", "#"],
                        ["technologies", "#"],
                        ["careers", "#"],
                        ["contact", "#"]
                    ],
                    0
                ],
                {"class": "header__nav"}
            )

