include ../icon/index

mixin input-file(data)
    input(type="file" class="file" name="uploads" id="file" tabindex="-1")
    label(for="file" tabindex="0")
        +icon('cv')
    span.file__name Upload your resume (Optional)


