mixin input-file(data)
    input(type="file" class="file" name="" id="file")
    label(for="file")
        svg(viewBox="0 0 40 20" preserveAspectRatio="xMinYMin")
            use(xlink:href="#cv")
    span.file__name Upload your resume (Optional)


