include ../icon/index

mixin simple-carousel(content, data)
    div.carousel&attributes(data ? data : {})
        for image in content
            div.carousel__item
                div.carousel__inner
                    +icon(image)
