.vacancy {
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }

  @media  screen and (min-width: $middle) {
    margin-bottom: 40px;
  }

  @media  screen and (min-width: $large) {
    margin-bottom: 30px;
  }

}

.vacancy__header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  @media  screen and (min-width: $large) {
    margin-bottom: 0;
  }
}

.vacancy__icon {
  margin-right: 18px;
  background-color: #fff;

  .icon {
    font-size: 5rem;
  }

  @media  screen and (min-width: $middle) {
    .icon {
      font-size: 6rem;
    }
  }
}

.vacancy__position {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.71;
  color: #161717;

  @media  screen and (min-width: $middle) {
    font-size: 1.5rem;
  }

  @media  screen and (min-width: $large) {
    font-size: 1.7rem;
  }
}

.vacancy__description {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #999999;
  margin-bottom: 22px;

  @media  screen and (min-width: $middle) {
    font-size: 1.4rem;
    padding-left: 78px;
  }
}

.vacancy__description.is-less {
  height: 73px;
  overflow: hidden;
  transition: height 0.4s ease;
}

.vacancy__description.is-more {
  height: auto;
}

.vacancy__heading {
  font-size: 1.25rem;
  color: #79a3ff;
  margin-bottom: 6px;

  @media  screen and (min-width: $middle) {
    font-size: 1.4rem;
  }
}

.vacancy__list {
  padding-left: 13px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--short {
    margin-bottom: 0;
  }
}

.vacancy__rest {
  display: none;
}

.vacancy__list-item:before {
  content: "";
  position: relative;
  top: -1px;
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 13px;
  vertical-align: middle;
}

.vacancy__btn {
  text-align: left;

  @media  screen and (min-width: $small) {
    text-align: right;
  }

  @media  screen and (min-width: $middle) {
    padding-left: 78px;
    text-align: left;
  }
}

.vacancy__read-more {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  padding: 6px 0;
  letter-spacing: 0.3px;
  color: $dark-blue;
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 2px 0 0 $dark-blue;
}
