include ../icon/index

mixin vacancy(content, data)
    div.vacancy
        div.vacancy__header
            div.vacancy__icon
                +icon(content.icon)
            div.vacancy__title
                h4.vacancy__position= content.position
                span.vacancy__salary= content.salary
        div.vacancy__description
            p= content.description
        div.vacancy__btn
            button.vacancy__read-more(type="button") Read more