include ../icon/index

mixin vacancy(content, data)
    div.vacancy
        div.vacancy__header
            div.vacancy__icon
                +icon(content.icon)
            div.vacancy__title
                h4.vacancy__position= content.position
        div.vacancy__description
            h4.vacancy__heading Requirements:
            ul.vacancy__list.vacancy__list--short
                for item, index in content.requirements
                    if index < 3
                        li.vacancy__list-item= item
            div.vacancy__rest
                -var rest = 3
                ul.vacancy__list
                    for item, index in content.requirements
                        if index >= rest
                            li.vacancy__list-item= item
                h4.vacancy__heading We offer:
                ul.vacancy__list
                    for item in content.offer
                        li.vacancy__list-item= item
        div.vacancy__btn
            button.vacancy__read-more(type="button") Show more