include ./components/logo/index
include ./components/nav/index
include ./components/hamburger/index
include ./components/section-titles/index
include ./components/title-card-bg/index
include ./components/title-large-text/index
include ./components/carousel-workspace/index
include ./components/carousel-simple/index
include ./components/carousel-centered/index
include ./components/vacancy/index
include ./components/contact-form/index
include ./components/social/index
include ./components/line/index


doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="apple-touch-icon", sizes="180x180", href="./assets/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="./assets/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="./assets/favicon/favicon-16x16.png")
        link(rel="manifest", href="./assets/favicon/manifest.json")
        link(rel="mask-icon", href="./assets/favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700")
        link(rel="stylesheet", href="style.css")

        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-83609390-3')
        script(src='scripts/analitycs.js')

    body
        div.page-preloader
            div.spinner
                div.spinner__bounce1
                div.spinner__bounce2
        div.svg-sprite
            include ./assets/sprite/sprite-icons.svg
        div.wrapper
            header.header
                div.container.header__container
                    +logo("", {"class": "header__logo"})

                    +hamburger
                    +nav(
                        [
                            [
                                ["about", "#about"],
                                ["what we do", "#business"],
                                ["careers", "#career"],
                                ["contact", "#contact"]
                            ]
                        ],
                        {"class": "header__nav"}
                    )
                    +socials([
                        {
                            "href": "https://www.facebook.com/Darksharkteam/",
                            "icon": "facebook"
                        },
                        {
                            "href": "#",
                            "icon": "dou"
                        },
                        {
                            "href": "https://www.linkedin.com/company/darkshark/",
                            "icon": "linkedin"
                        }
                    ], {"class": "header__social"})
            main.main
                section.promo
                    div.promo__left
                    div.promo__right
                    div.promo__greet
                        div.promo__letter
                            img(src="./assets/letters/h-mobile.svg")
                        div.promo__letter.promo__letter--i
                            picture
                                source(media="(min-width: 768px)" srcset="./assets/letters/i-desktop.svg")
                                img(src="./assets/letters/i-mobile.svg")
                    div.promo__text
                        h1.promo__title We are DarkShark!
                        p.promo__subtitle We create software for people and their business.
                    +line()
                section#about.about.js-scroll-to
                    div.container
                        div.about__firstly.grey.grey--left
                            div.about__titles
                                +section-title(["about", "us"])
                            div.about__content
                                p.with-line.with-line--first DarkShark is a development center, based in Kharkiv, Ukraine. Our team is composed of young motivated goal-oriented specialists and professionals with great experience in JavaScript, full stack development and web design. We provide outsource and outstaff services to reliable constant customers and startups in the USA, Europe and Israel.
                                p Challenging projects are the top priority for us because we are not afraid to deal with complex tasks, always ready to grow and produce high-quality products. We are willing to learn, develop and obtain new skills, this is why we take part and win competitions.
                                h3.about__heading Our rewards:
                                +carousel-centered([
                                    [
                                        "rewards--nasa",
                                        "rewards--int20h",
                                        "rewards--space-apps",
                                        "rewards--kh-js"
                                    ],
                                    [
                                        {
                                            "title": "Winner of NASA Space Apps Challenge hackathon.",
                                            "description": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                                        },
                                        {
                                            "title": "Winner of int20h Space Apps Challenge hackathon.",
                                            "description": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                                        },
                                        {
                                            "title": "Winner of space-apps.",
                                            "description": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                                        },
                                        {
                                            "title": "Winner of kh-js.",
                                            "description": "Our team (4 developers and 1 UX/UI designer) have won in NASA Space Apps Challenge Hackathon 29-30.04.17. We've created service which consists of the mobile app and desktop app for fire departments - FireProb."
                                        }
                                    ]
                                ], {"class": "rewards"})
                        div.about__secondary
                            div.about__card
                                +title-card-bg(["Our", "work-", "space"])
                            div.about__office
                                p.with-line Our office is not just a place where people come to spend 8 hours, performing some mechanical actions. It’s our way to motivate the employees, reflect the philosophy of our company and working principles. There are no strict rules or schedule, we work for results. That’s why we strive to create home comfort and friendly environment to avoid monotonous work. No open spaces or other traditional office ‘benefits’.
                                p Every employee has an opportunity to concentrate on work in one of our 5-person rooms. The relax zone is a premise with kitchen and X-Box, where we can always have lunch, communicate and share our ideas and experience. In addition, there is an opportunity to stretch on a climbing frame after long work in front of a computer screen or take a shower after a bike ride.
                                p Convenient transport interchange and subway in a walking distance.
                    +workspace-carousel([
                        "workspace-1.jpg",
                        "workspace-2.jpg",
                        "workspace-3.jpg",
                        "workspace-4.jpg",
                        "workspace-5.jpg"
                    ])
                section.partners
                    div.container
                        div.partners__inner
                            div.partners__titles.grey.grey--right
                                +section-title(["our", "partners"], "start", "15")
                            div.partners__content
                                +simple-carousel(
                                    [
                                        "techno--node",
                                        "techno--react",
                                        "techno--react-n",
                                        "techno--redux",
                                        "techno--mongo",
                                        "techno--mysql",
                                        "techno--amazon",
                                        "techno--express",
                                        "techno--angular"
                                    ],
                                    {"class": "partners__carousel"}
                                )
                section#business.business.js-scroll-to
                    div.container
                        div.business__firstly.grey.grey--left
                            div.business__titles
                                div.business__card
                                    +title-card-bg(["What", "we do"])
                            div.business__services
                                +carousel-centered([
                                    [
                                        "service--price",
                                        "service--time",
                                        "service--team",
                                        "service--time"
                                    ],
                                    [
                                        {
                                            "title": "FIXED PRICE",
                                            "description": "The advantage of the fixed price model is a set final budget. Every project is provisionally estimated by our team of experts. The price is mutually agreed before the start of a project and cannot be changed."
                                        },
                                        {
                                            "title": "TIME AND MATERIAL",
                                            "description": "The most wide-spread model of partnership which allows you to pay for the services of the developers according to the time spent. You can monitor the process using time tracking software."
                                        },
                                        {
                                            "title": "OFFSHORE DEDICATED DEVELOPMENT TEAM",
                                            "description": "Our company provides a bound team of specialists with experience of working together ready to meet individual requirements of a customer. You have an opportunity to manage our team as employees of your own company."
                                        },
                                        {
                                            "title": "TIME AND MATERIAL",
                                            "description": "The most wide-spread model of partnership which allows you to pay for the services of the developers according to the time spent. You can monitor the process using time tracking software."
                                        }
                                    ]
                                ], {"class": "services"})
                        div.business__secondary.grey.grey--left
                            div.business__hidden
                                +title-large-text(["What", "we do"])
                            div.business__partners
                                h3.business__heading Technologies we use:
                                +simple-carousel(
                                    [
                                        "techno--node",
                                        "techno--react",
                                        "techno--react-n",
                                        "techno--redux",
                                        "techno--mongo",
                                        "techno--mysql",
                                        "techno--amazon",
                                        "techno--express",
                                        "techno--angular"
                                    ],
                                    {"class": "partners__carousel"}
                                )
                section#career.career.js-scroll-to
                    div.container.career__inner
                        div.career__titles.grey.grey--right
                            +section-title(["careers", "with us"])
                        div.career__content
                            h3.career__heading We are looking for:
                            +vacancy({
                                "position": "Front-end Developer",
                                "requirements": [
                                    "1+ year experience;",
                                    "Strong proficiency in JavaScript (ES2015+);",
                                    "Deep understanding React;",
                                    "Good knowledge NodeJS;",
                                    "Proficient understanding of HTML5, CSS3;",
                                    "Good understanding of AJAX, websocket;",
                                    "Knowledge ESLint or TSLint;",
                                    "Experience with Webpack."
                                ],
                                "offer": [
                                    "Flexible schedule",
                                    "Interesting projects, open management and friendly dynamic team",
                                    "Nice and comfortable office located near underground station",
                                    "Paid vacation (20 work days)",
                                    "Free English classes",
                                    "Free tea, coffee and cookies, lunches in the office",
                                    "Break area with Xbox"
                                ],
                                "icon": "programer"
                            })
                section#contact.contact.js-scroll-to
                    div.container.contact__inner
                        div.contact__card
                            +title-card-bg(["Contact", "us"], {"class": "contact__title"})
                        div.contact__form
                            +contact-form({
                                "name": "Your name",
                                "email": "Your email",
                                "textarea": "Your message"
                            })

            footer.footer
                div.container
                    div.footer__mobile
                        div.footer__nav
                            +nav(
                                [
                                    [
                                        ["about", "#about"],
                                        ["what we do", "#business"],
                                        ["careers", "#career"],
                                        ["contact", "#contact"]
                                    ]
                                ]
                            )
                        div.footer__info
                            +logo("", {"class": "footer__logo"})
                            div.footer__email
                                a(href="mailto:company@darkshark.pro") !{"<svg class='icon icon-envelope' preserveAspectRatio='xMinYMin'><use xlink:href='#envelope'></use></svg>"} company@darkshark.pro
                            div.footer__social
                                +socials([
                                    {
                                        "href": "#",
                                        "icon": "linkedin"
                                    },
                                    {
                                        "href": "#",
                                        "icon": "facebook"
                                    },
                                    {
                                        "href": "#",
                                        "icon": "dou"
                                    }
                                ])
                    div.footer__desktop
                        div.footer__info
                            +logo("", {"class": "footer__logo"})
                            div.footer__nav
                                +nav(
                                    [
                                        [
                                            ["about", "#about"],
                                            ["what we do", "#business"],
                                            ["careers", "#career"],
                                            ["contact", "#contact"]
                                        ]
                                    ]
                                )
                            div.footer__email
                                a(href="mailto:company@darkshark.pro") !{"<svg class='icon icon-envelope' preserveAspectRatio='xMinYMin'><use xlink:href='#envelope'></use></svg>"} company@darkshark.pro
                        div.footer__social
                            +socials([
                                {
                                    "href": "https://www.linkedin.com/company/darkshark/",
                                    "icon": "linkedin"
                                },
                                {
                                    "href": "https://www.facebook.com/Darksharkteam/",
                                    "icon": "facebook"
                                },
                                {
                                    "href": "#",
                                    "icon": "dou"
                                }
                            ])

        script(src="bundle.js")

