.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon-arrow-l {
  font-size:(11/10)*1rem;
  width:(7.3/11)*1em;
}
.icon-arrow-r {
  font-size:(11/10)*1rem;
  width:(7.3/11)*1em;
}
.icon-cv {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon-designer {
  font-size:(68.3/10)*1rem;
  width:(67.5/68.3)*1em;
}
.icon-dou {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-envelope {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon-facebook {
  font-size:(96.123/10)*1rem;
  width:(96.124/96.123)*1em;
}
.icon-linkedin {
  font-size:(430.117/10)*1rem;
  width:(430.117/430.117)*1em;
}
.icon-logo--logo {
  font-size:(100.56/10)*1rem;
  width:(469.9/100.56)*1em;
}
.icon-programer {
  font-size:(68.3/10)*1rem;
  width:(67.5/68.3)*1em;
}
.icon-rewards--int20h {
  font-size:(201.333/10)*1rem;
  width:(400/201.333)*1em;
}
.icon-rewards--kh-js {
  font-size:(384.88/10)*1rem;
  width:(384.88/384.88)*1em;
}
.icon-rewards--nasa {
  font-size:(100/10)*1rem;
  width:(151/100)*1em;
}
.icon-rewards--space-apps {
  font-size:(496.67/10)*1rem;
  width:(496.67/496.67)*1em;
}
.icon-service--design {
  font-size:(130/10)*1rem;
  width:(130/130)*1em;
}
.icon-service--ent-dev {
  font-size:(130/10)*1rem;
  width:(130/130)*1em;
}
.icon-service--mobile-dev {
  font-size:(130/10)*1rem;
  width:(130/130)*1em;
}
.icon-service--soft-dev {
  font-size:(130/10)*1rem;
  width:(130/130)*1em;
}
.icon-service--web-dev {
  font-size:(130/10)*1rem;
  width:(130/130)*1em;
}
.icon-techno--amazon {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--angular {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--express {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--mongo {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--mysql {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--node {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--react {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--react-n {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
.icon-techno--redux {
  font-size:(60/10)*1rem;
  width:(150/60)*1em;
}
