// Brand colors
$light: #fff;
$light-grey: #f5f5f5;
$grey: #e6e6e6;
$dark-grey: #999;
$dark: #171717;
$blue: #6896fc;
$dark-blue: #4879e5;

// Global colors for body
$body-bg: $light;
$text-color: $dark-grey;

// Fonts
$font-family-base: "Montserrat", sans-serif;
$font-size-base: 10px;




