// Brand colors
$light: #fff;
$light-grey: #f5f5f5;
$grey: #e6e6e6;
$dark-grey: #999;
$dark: #171717;
$blue: #6896fc;
$dark-blue: #4879e5;
$danger: #ea4040;

// Global colors for body
$body-bg: $light;
$text-color: $dark-grey;

// Fonts
$font-family-base: "Montserrat", sans-serif;
$font-size-base: 10px;

// Breakpoints
$extra: 1200px;
$large: 1024px;
$middle: 768px;
$small: 480px;

// Hamburger
$hamburger-padding-x                       : 0px !default;
$hamburger-padding-y                       : 0px !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : none !default;


