.titles {
  background-color: $light-grey;
  padding: 41px 0 35px 20px;
  overflow: hidden;
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
